html {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    background-color: beige;
    font-weight: 300;
    color:rgb(55, 55, 55);
}

/* Header */

header {
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    position: sticky;

    line-height: 4rem;
    padding: 1rem;
    text-align: center;

}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    padding: 2rem 0 0 5rem;
    font-weight: 100;
}

.logoScript {
    font-family: 'Waterfall', cursive;
    font-size: 12rem;
    letter-spacing: -5rem;
    padding-top: 3rem;
}

/* Hero Image */
.heroImage {
    width: 100%;
    text-align: center;
}

/* Article */
.articleContainer {
    letter-spacing: -1px;
    max-width: 1200px;
    margin: 10rem;
    line-height: 3rem;
}

.cta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 5rem;
}

.cta div {
    margin: 0px auto;
    height: 5rem;
    width: 15rem;
    background-color: rgb(255, 56, 92);
    border-radius: 2rem;
    line-height: 5rem;
}

.cta a {
    color: white;
    text-decoration: none;
}